<ion-content class ="dark-background">
	
  <ion-button  icon-only (click) = "closeModal();" class = "close-button" ><ion-icon name = "close" color = "secondary"></ion-icon></ion-button>
    <h1 style = "color:white !important" >Create New Task</h1>
    <ion-card id = "registration-card">
    <div class = "input-information">

      <ion-item class = "dark-background">
      <ion-label position = "floating">Task Name</ion-label>
      <ion-input type="text" [(ngModel)] = "taskName"></ion-input>
      </ion-item>

      <ion-item class = "dark-background">
      <ion-label position = "floating">Deadline</ion-label>
      <ion-datetime displayFormat = "MMM DD, YYYY, HH:mm" placeholder= "Deadline" display-timezone="utc" [(ngModel)] = "deadline" ></ion-datetime>
      </ion-item>

      <ion-item class = "dark-background" (click)="presentPrioritySelector()">
      <ion-label position = "floating" >priority</ion-label>
      <ion-input type="text" [(ngModel)] = "priorityText" style="color:white"></ion-input>
      </ion-item >

      <ion-item class = "dark-background">
          <ion-label>Direct Assignee</ion-label>
          <ion-checkbox [(ngModel)] = "isDirectAssignee"></ion-checkbox>
      </ion-item >

    <div *ngIf = "isDirectAssignee">
    <ion-item lines="none" class = "searchbar-container">
        <ion-input id="search_input" type="text" (ionChange)="searchUsers($event)" placeholder= "Search" ></ion-input>
    </ion-item>

     <ion-list class = "search-list" *ngIf = "$userSearch && $userSearch.length > 0">
    <ion-item *ngFor="let user of organizationMembers" tappable   (click)="chooseUser(user)" class ="dark-background">
      <ion-item class ="dark-background">
        <ion-label>  
          <h2>{{ user.firstname }} {{ user.lastname}} </h2>
          <h3>    {{ user.id}}</h3>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-list>

    <ion-item class ="dark-background" *ngIf = "selectedAssignee">
        <ion-label>  
          <h2>Selected Assignee</h2>
          <h3>{{selectedAssignee.firstname }} {{ selectedAssignee.lastname}} </h3>
          <h4>    {{ selectedAssignee.id}}</h4>
        </ion-label>
      </ion-item>

    </div>
</div>


      <div class = "next-step">		
        <ion-button color = "secondary" (click) = "assignTask()"><span style = "color:black">Assign Task</span></ion-button>
      </div>
      </ion-card>
  </ion-content>