  ion-content{
    opacity: 0.9;
    // --background: !important;
    h1{
        text-align: center;
        color:black!important;
        margin-top:1.2rem!important;
        margin-left:3rem!important;
    }
}
.close-button{
float:right;
--background: transparent;
--box-shadow:none;
// --background-activated: gray;
    // --background-focused:none;
    // --background-hover: none;
}
.input-information{
ion-item{
    --background:var(--sap-content-background) !important;

}
ion-input{
    color:black;
}
}
.next-step{
margin-top:1rem;
text-align: center;
button{
    background-color: transparent;
}

}

ion-toolbar{
    --background:var(--sap-navigation-background);
    color:white;
    ion-label{
        font-weight: var(--sap-font-weight);
        font-size: var(--sap-header-font-size);
    }
}

ion-content{
    --background:var(--sap-body-background) !important;
}


// .background{
//     --background: var(--sap-content-background);
//     color: var(--sap-content-font-color);
//     h2{
//         font-size: 1.1rem;
//     }
//     h3{
//         font-size:0.8rem;
//     }
// }
#registration-card{
    border: none;
    margin: none;
    margin: 0;
    padding-bottom: 1rem;
    margin-top: 2rem;
    --background:var(--sap-content-background) !important;

}