.center-avatar{
    margin: auto;
}
.dark-background-centered{
    text-align: center;
    --background: black;
    color:white
}
.dark-background{
    --background: black;
    color:white
}
.input-information{
    color: white;
    --background: #3c4042;
}
.gray-background{
    --background: #3c4042;
}

