.dark-background{
    --background: black;
    color:white
}
.input-information{
// ion-item{
    // border: none;
    // margin: none;
    // margin: 0;
    // padding-bottom: 1rem;
    // margin-top: 2rem;
    color: white;
    --background: #3c4042;
}
.gray-background{
    --background: #3c4042;
}
#input-information{
    // border: none;
    // margin: none;
    // margin: 0;
    // padding-bottom: 1rem;
    // margin-top: 2rem;
    --background: #3c4042;
}
// #shadow-root{
//     color: red;
//     --background: red;
// }
// }
