<ion-header >
  <ion-toolbar class="dark-background">
     <ion-button icon-only (click) = "logOut()">
      <ion-icon name="log-out-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
 
<ion-content class ="dark-background">
  <!-- <ion-card class = "dark-background"> -->

    <div class = "dark-background"> 
      <h1 style = "color:white !important" >Employee Profile</h1>
      <ion-list class = "input-information"> 
        
        <!-- <ion-list-header class ="dark-background">
          Employee Profile
        </ion-list-header> -->
        
        <ion-item class="input-information">
          <ion-label>
            <h2>First Name</h2>
            <h3>{{usrData.firstname}}</h3>
          </ion-label>
        </ion-item>
        
        <ion-item class="input-information">
          <ion-label>
            <h2>Last Name</h2>
            <h3>{{usrData.lastname}}</h3>
          </ion-label>
        </ion-item>
        
        <ion-item class="input-information">
          <ion-label>
            <h2>Email Address</h2>
            <h3>{{usrData.email}}</h3>
          </ion-label>
        </ion-item>
        
      </ion-list>

      <ion-item>
        <ion-label>Apple</ion-label>
        <ion-toggle slot="start" name="apple" color="secondary" checked (ionChange)="onChange()" [(ngModel)]="status"></ion-toggle>
      </ion-item>

      <div *ngIf = "status">
        <ion-item lines="none" class = "searchbar-container">
            <ion-input id="search_input" type="text" (ionChange)="searchUsers($event)" placeholder= "Search" ></ion-input>
        </ion-item>
      </div>
    </div>
  <!-- </ion-card> -->
</ion-content>
