<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div  *ngFor = "let task of tasks">
  <ion-card class = "card" *ngIf = "task.isAccepted != undefined" >
    <ion-card-header  >
    <ion-card-title></ion-card-title>
      <ion-card-subtitle [class] ="task.style_class">
        <ion-grid>
          <ion-row>
            <ion-col *ngIf = "task.priority == 1" size = "4.7">
              Low Priority
            </ion-col>
            <ion-col *ngIf = "task.priority == 2" size = "4.7">
              Medium Priority
            </ion-col>
            <ion-col *ngIf = "task.priority == 3" size = "4.7">
              High Priority
            </ion-col>
            <ion-col size = "7.3" style = "color:black !important">Deadline: {{task.deadline}}</ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class = "card-content">
  {{task.taskName}}  
  <div style ="margin-top:1rem">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf = "task.isAccepted == true && !task.isCompleted">
        <ion-button (click)="markComplete(task)" style = "--background:transparent;color:#678bc7">
          <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>  
        <p *ngIf = "task.isAccepted != undefined && task.isAccepted && !task.isCompleted" class = "accept-but"> Accepted</p>
        <p *ngIf = "task.isAccepted != undefined && !task.isAccepted"  class = "decline-but" > Declined</p>
        <p *ngIf = "task.isCompleted"  class = "decline-but" > Completed</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
    </ion-card-content>
  </ion-card>
</div>
  <ion-card class = "card"  *ngIf = "tasks.length ==0">
    <ion-card-header class ="card-header">
      <ion-card-subtitle > You have no tasks at this moment!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
